<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" crossorigin="anonymous">
    {% endblock %}
    <title>{% block title %}Welcome Forum!{% endblock %}</title>
</head>
<body>

<div class="container">
    {% block body %}
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small white pt-4 mt-4">
        <!-- Copyright -->
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
{% block javascripts %}
    <!-- Optional JavaScript -->
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

</body>
</html>